<div class="row">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>

  </div>
  {{#each restaurant.Comments}}
  <h1>{{this.id}} </h1>
  {{/each}}




  <div class="col-md-4">
    <ul>
      <li> 評論數: {{restaurant.Comments.length}} </li>
      <li> 瀏覽數: {{restaurant.viewCounts}}</li>
      <li> 被收藏數: {{restaurant.Comments.length}}</li>
    </ul>
  </div>
  </br>

  <div class="col-md-4">
    <a href="javascript:history.back()">回上一頁</a>
  </div>