<div class="card">

  <div class="card-body d-flex flex-row">

    <img class="card-img-top" src=" {{user.image}}" alt="Card image cap" style="width: 200px;">

    <div>
      <h1>{{user.name}}</h1>
      <p class="card-text">{{user.email}}</p>
      <p class="card-text">{{user.Comments.length}} 間已評論的餐廳</p>

      <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
    </div>
  </div>

  </br>
  </br>

  <div>
    <h5 class="card-header"> {{user.Comments.length}}間已評論餐廳</h5>

    <div class="card-body">

      {{#each user.Comments}}

      <a href="/restaurants/{{this.Restaurant.id}}">

        <img src="{{this.Restaurant.image}}" alt="Card image cap" style="width: 150px;">

      </a>

      {{/each}}
    </div>

  </div>


</div>